/* Experience Styles */
.cc-experience .cc-experience-header {
  padding-top: 60px;
  padding-right: 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.cc-project-header {
  padding-top: 40px;
  padding-right: 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
